body{
	background-image: url('Pictures/bmc.jpg');
	background-size: cover;
	max-width: 100%;
	background-repeat: no-repeat;
	min-height: 100%;
}
input{
	height: 30px;
	font-size: 20px;
	border-radius: 5px;
	max-width: 100%;
	font-family: 'Creepster', cursive;
}
.in,.im{
	font-size: 30px;
	max-width: 100%;
}
.in{
	margin-left: 310px;
	margin-top: 0px;
	font-family: 'Creepster', cursive;
}
.im{
	margin-left: 220px; 
	font-family: 'Creepster', cursive;
}
tr{
	
	max-width: 100%;
	padding: 2px;
}
.btn{
	padding: 10px;
	height: 50px;
	color: #d9ddeb;
	background-color: green;
	
	max-width: 100%;
	margin-left: 400px;
}
table{
	border-radius: 15px;
	border: solid #737373;
	font-size: 30px;
	margin-left: 200px;
	max-width: 100%;
	font-family: 'Creepster', cursive;
}
th{
	color: #4d1a00;
}
th,td{
	width: 200px;
	border-radius: 15px;
	border: solid #737373;
	text-align: center;
	padding: 10px;
	max-width: 100%;
}